// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  background-color: rgba(67, 160, 255, 0.25) !important;
}

#app {
  height: inherit;

  main {
    height: inherit;

    .container {
      height: inherit;

      .row {
        height: inherit;
      }
    }
  }
}

.card {
  min-width: 260px;
  width: 368px;
  box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.09);
}

.card-header {
  border: 0;
  background-color: white;
  margin-top: 18px;

  .card-title {
    font-size: 26px;
  }

  a {
    font-size: 1em;
    padding-left: 14px;
  }
}

.card-body {
  padding-top: 10px;
}

#user-card {
  img {
    width: 100%;
  }

  #user-card-body {
    background-image: url("/assets/body.png");
    background-repeat: no-repeat;
    background-size: 100% 110%;
  }

  .user-card-avatar {
    width: 120px;
    height: 120px;
    margin-top: 50px;
  }

  .user-card-logout {
    font-size: 16px;
  }

  .user-card-header {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .user-card-table {
    margin-bottom: 60px;

    td {
      vertical-align: middle;
    }
  }
}
